name: "Test"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run Action
        uses: "./"
        with:
          name: my-package
          version: 1.0.0
          entry-points: ./sample/mod.ts
          out-dir: ./sample/npm
          copy-files: README.md
          deno-version: canary
